$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #90caf9;
$background-pale: #D1C4E9;
$background-moredark:  #4db6ac;

.active {
    background: $background-moredark;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 80px;
}
