<div class="container home"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">

  <div fxFlex  fxLayoutAlign="center center">

    <h3>This is a platform to simplify the event registration process. It aims at removing all the redundant 
      process and make it more simple. So here it just one click away. Click on Register Now !!! and explore the
      opportunities
    </h3>
    
      <span class="flex-spacer"></span>
  </div>
  <a mat-button class="detail" (click)="openRegistrationForm()">
    <span class="fa fa-address-card fa-lg" ></span> Register Now!</a>
</div>
