<div fxFlex class= "container home"
fxLayout="column" fxLayoutAlign="space-evenly center" >

<!-- 
  <div mat-card style="background-color: white;" >
    <h1 style="color: #1a237e;">Registration OPEN!!!</h1>
  </div> -->

  <div fxFlex class="detail" >
    <h1 style="color: #1a237e;" fxLayoutAlign="space-evenly center">Registration OPEN!!!</h1>
   <p>
    This platform provides you the way to enroll yourself in the upcoming events through simple steps
    The very purpose of this platform is to encourage people in competitive environment by simplyfying 
    the redundant and long process for participation. So if you are excited go ahead and click on REGISTER!
   </p>
  </div>

  <div mat-card >
    <a mat-button style="background-color: wheat ;">
      Register
    </a>
  </div>

</div>
